<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="platformApiServer" name="platformApi" schema="schema/pfApiServer.exsd"/>
   <extension point="com.topsec.bdc.platform.api.platformApiServer">
      <server id="api:http:8888" name="api:http:8888" description="the test api for platform" implement_class="com.topsec.bdc.platform.api.http.server.HttpServer">
         <property name="port" value="8888" />
         <handler id="pf-api.httphandler" name="http_root_handler" description="an test handler for http server" implement_class="com.topsec.bdc.platform.api.http.server.SimpleHttpRequstHandler">
               <property name="path" value="/" />
         </handler>
      </server>
      <server id="api:http:9999" name="api:http:9999" description="the test api for platform" implement_class="com.topsec.bdc.platform.api.http.server.HttpServer">
         <property name="port" value="9999" />
         <handler id="pf-api.httphandler" name="http_root_handler" description="an test handler for http server" implement_class="com.topsec.bdc.platform.api.http.server.SimpleHttpRequstHandler">
               <property name="path" value="/abc" />
         </handler>
      </server>
   </extension>
</plugin>
