<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="platformApiServer" name="platformApi" schema="schema/pfApiServer.exsd"/>
   <extension
         point="pf-api.platformApiServer">
      <server
            description="management api for platform."
            id="pf-api.management"
            implement_class="com.topsec.bdc.platform.api.management.ManagementApiServer"
            name="managementApi">
         <serverReferent
               implement_class="com.topsec.bdc.platform.api.server.http.HttpSoopServerReferent"
               name="HttpSoopServerReferent">
            <property
                  name="serverIpAddress"
                  value="127.0.0.1">
            </property>
            <property
                  name="serverPort"
                  value="50001">
            </property>
            <listener
                  implement_class="com.topsec.bdc.platform.api.management.ManagementRequestListener"
                  name="/">
            </listener>
         </serverReferent>
      </server>
   </extension>
</plugin>
