<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="platformApiServer" name="platformApi" schema="schema/pfApiServer.exsd"/>
   <extension point="com.topsec.bdc.platform.api.platformApiServer">
   </extension>
   <extension
         point="com.topsec.bdc.platform.api.platformApiServer">
      <server
            description="management api for platform."
            id="pf-api.management"
            implement_class="com.topsec.bdc.platform.api.management.ManagementApiServer"
            name="management">
         <serverReferent
               implement_class="com.topsec.bdc.platform.api.management.ManagementServerReferent"
               name="pf-api.serverReferent">
            <property
                  name="serverIpAddress"
                  value="127.0.0.1">
            </property>
            <property
                  name="serverPort"
                  value="50001">
            </property>
            <handler
                  description="dsdfsdf"
                  id="pf-api.handler2"
                  implement_class="com.topsec.bdc.platform.api.management.ManagementRequestListener"
                  name="pf-api.handler2">
               <property
                     name="name"
                     value="/abc/">
               </property>
            </handler>
         </serverReferent>
      </server>
   </extension>
</plugin>
